@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #d9d9d9;
    --secondary-color: #050505;
    --third-color: #8534f7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    border: none;
}

body {
    background-color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 90%;
    max-width: 940px;
    margin: 0 auto;
}

/* HEADER */

header, footer {
    background-color: var(--secondary-color);
    color: white;
    width: 100%;
    padding: 32px 0;
    text-align: center;
}

header div.container {
    display: grid;
    grid-template-columns: 220px auto 280px;
    align-items: center;
    grid-gap: 24px;
}

header div.container a {
    justify-self: start;
}
/* LOGO */

.logo h1 {
    color: var(--third-color);
    font-size: 36px;
    line-height: 46px;
}

/* LINKS */

.links {
    font-size: 22px;
}

.links a+a {
    margin-left: 32px;
}

.links a {

    position: relative;
    color: #EFEFEF;
}

.links a:hover {
    color: var(--third-color);
}

.links a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--third-color);
    position: absolute;
    left: 50%;
    bottom: -4px;
}

.links a:hover:after {
    left: 0;
    width: 100%;
    transition: all 200ms ease-in-out;
}

/* PRIMARY MENU */

nav.primary ul {
    display: flex;
    justify-content: space-between;
}

nav.primary ul li a {
    display: flex;
    align-items: center;
    color: white;
    transition: 200ms;
}

nav.primary ul li a:hover {
    color: var(--third-color);
}

nav.primary ul li a i {
    margin-right: 8px;
}

/* CARD */

.card {
    background-color: var(--third-color);
    width: 800px;
    min-height: 500px;
    margin: 45px auto;
    box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.4);
    animation: up 200ms ease;
    border-radius: 4px;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
    }
}

/* .details */

.details {
    background-color: white;
    padding: 32px 24px;
    margin: 32px auto;
    box-shadow: 2px 2px 2px -4px rgba(60, 60, 60 .5);
    border: 1px solid #efefef;
    border-radius: 4px;
    max-width: 1000px;
    width: 80%;
    min-height: 500px;
}

.details .item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 16px 0;
}

.details .item:last-child {
    border: none;
}

.details .item div:nth-child(1) {
    font-size: 14px;
    line-height: 24px;
    color: #777;
    letter-spacing: 0.7px;
    font-weight: normal;
}

.details .item div:nth-child(2) {
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

.details h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--third-color);
}

/* FORM */

input, select {
    width: 100%;
    outline: none;
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

input[type="radio"] {
    width: initial;
    margin-right: 4px;
}

input::placeholder {
    font-size: 16px;
    font-weight: normal;
}

textarea {
    width: 100%;
    height: 160px;
}

button[type="submit"], a.button {
    padding: 8px 32px;
    background-color: var(--third-color);
    color: white;
    border: 2px solid var(--third-color);
    border-radius: 4px;
    margin-top: 32px;
    width: 100%;
    font-size: 16px;
    transition: 200ms;
}

a.button {
    display: block;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
}

button[type="submit"]:hover, a.button:hover {
    padding: 8px 32px;
    background-color: white;
    color: var(--third-color);
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
}

#form-delete button[type="submit"] {
    margin-top: 8px;
    background-color: lightcoral;
    border: 2px solid lightcoral;
}

#form-delete button[type="submit"]:hover {
    background-color: white;
    color: lightcoral;
}

/* INDEX POSTS */

.card-table {
    background-color: var(--primary-color);
    width: 800px;
    min-height: 300px;
    margin: 45px auto;
    box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.4);
    animation: up 200ms ease;
    border-radius: 4px;
}

.table-container {
    display: block;
    padding: 40px;
    box-sizing: border-box;
}

.table-container table {
    border-spacing: 0;
}

.table-container thead tr th {
    text-align: left;
}

td, th {
    padding: 16px;
    border-bottom: 1px solid #d9d9d9;
    min-height: 60px;
}

th {
    text-transform: uppercase;
    color: #777;
    font-size: 14px;
}

tbody tr:last-child td {
    border-bottom: none;
}

tbody tr td:first-child {
    width: 200px;
    align-items: center;
}

tbody tr td:last-child a,
.table-container > a {
    background-color: var(--third-color);
    padding: 8px 16px;
    border: 1px solid var(--third-color);
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    transition: 200ms;
}

.table-container > a {
    margin-bottom: 16px;
    display: inline-block
}

tbody tr td:last-child a:hover,
.table-container > a:hover {
    background-color: white;
    color: var(--third-color);
}

.table-container thead tr th:last-child,
td:last-child {
    text-align: center;
}

/* FILTERS */
.table-container .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 32px;
}

.table-container .header a {
    margin: 0;
    width: 120px;
}

.table-container .header form {
    display: grid;
    grid-template-columns: 1fr 120px;
    align-items: center;
    grid-gap: 8px;
}

.table-container .header form input {
    border: 1px solid #eee;
    padding: 4px 8px;
    box-sizing: border-box;
}

.table-container .header form button {
    margin: 0;
}

/* PAGINATION */
.table-container {
    display: grid;
    grid-template: 64px 1fr 16px / 1fr; 
}

.table-container .header {
    margin: 0;
    align-self: start;
}

.table-container .pagination {
    margin: 0;
    align-self: end;
    justify-self: center;
}

.pagination a,
.pagination span {
    color: var(--third-color);
    text-decoration: none;
    margin-right: 16px;
}

.pagination a:hover {
    filter:  brightness(0.3);
    border-bottom: 1px solid var(--third-color);
}