{% extends 'layout.njk' %}

{% block content %}

    <form class="card" method="POST" action="/todos">
        <section class="details">

            <h3>Add To-dos</h3>

            {% include 'todos/fields.njk'%}

        </section>
    </form>
    

{% endblock content %}