<div class="item completed">
    <div>Title</div>
    <div>
        <input type="text" name="title" placeholder="Todo Title"
        value="{{ todo.title }}">
    </div>
</div>

<div class="item completed">
    <div>Completed</div>
    <div>
        <span><input type="radio" name="status" value="true" 
        {% if todo.completed == "true" %}
        checked
        {% endif %}>Yes</span>
        <span><input type="radio" name="status" value="false"
        {% if todo.completed == "false" %}
        checked
        {% endif %}>No</span>
    </div>
</div>

<button type="submit">Save</button>