<header>
    <div class="container">
        <a href="/">
            <div class="logo">
                <h1>Groovy</h1>
            </div>
        </a>

          <div class="links">
                <a href="/posts">Posts</a>
                <a href="/albums">Albums</a>
                <a href="/todos">To-DOs</a>
        </div>

        <nav class="primary">
            <ul>
                <li>
                    <a href="/accounts">
                        <i class="material-icons">account_circle</i>
                        My Account
                    </a>
                </li>
            </ul>
        </nav>

    </div>
</header>